.component {
    padding: 20px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
}

.card {
    max-width: 1500px;
    width: 100%;
    background-color: white;
    outline: 1px solid rgba(163, 161, 161, 0.24);
    display: flex;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
}

.card:first-of-type {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card:last-of-type {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.master {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 34px;
    letter-spacing: -1.7px;
    text-align: center;
    font-weight: bold;
    color: black;
    padding-top: 0px;
    text-transform: uppercase;
}


.header {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 21px;
    letter-spacing: -0.7px;
    text-align: center;
    text-transform: uppercase;
}

.component :global(.ant-collapse-header-text) {
    vertical-align: top !important;
}

.controllabel {
    vertical-align: bottom;
    text-align: center;
    /* line-height: 30px; */
    /* margin-top: 5px; */
    position: relative;
    top: -8px;
    /* top: 11px; */
    filter: grayscale(1);
    text-transform: uppercase;
    font-size: 11px;
    padding-bottom: 16px;
}

.controllabel {
    vertical-align: bottom;
    text-align: center;
    position: relative;
    top: -8px;
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 16px;
}

:global(.ant-input-number) input {
    text-align: center !important;
    margin-top: 9px !important;
}